@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Craft.do inspired variables */
  --color-beige: #fcf9f7;
  --navbar-gradient: linear-gradient(180deg,rgba(255, 255, 255, 0.4) 10%, rgba(255, 255, 255, 0.8));
  --glass-border: 1px solid rgba(255, 255, 255, 0.5);
  --glass-shadow: 0 12px 12px 2px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
  --blur-xs: 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9fb;
  width: 100%;
}

html {
  overflow-y: scroll; /* Force scrollbar track to prevent layout jank */
}
